<nav class="navbar navbar-default navbar-no-corners">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/main">Superforum</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ 'active': !postController }"><a href="#/main">Posts</a></li>
        <li ng-class="{ 'active': postController }"><a href="#/post">Write a post</a></li>
        <li ng-click="logout()"><a href="#">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    <toaster-container toaster-options="{'time-out': 1000, 'close-button':false, 'animation-class': 'toast-top-center'}"></toaster-container>

</nav>